.image-container {
  background-image: url("imagesB/фон.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.header {
	margin-bottom:0; 
	text-align:center;
}
.menu {
	height:100%;width:15%;float:left; 

}	
   
  .menu {
        margin-left: 0px;
        padding-left: 0px;
        list-style: none;
}
    .menu a {
        display: block;
        width: 100%;
        padding:10px;
        border-top: 1px dashed #333;
        border-right: 1px dashed #333;
        border-left: 5px solid #333;
        text-decoration: none;
        color: #333;
}
    .menu li:last-child a {
        border-bottom: 1px dashed #333;
}
.section {	
	display: inline-block;	
	height:100%;
	width:60%;
	float:center;
	justify-content: space-between;
	margin: 35px;
	border: 1px dashed black;
}
.section p {
	font-size: 1.3em;
	text-align: center;
}
.section2 img {
  float: center;
  margin-right: 10px;
}
.section2 {	
	display: inline-block;	
	height:100%;
	width:15%;
	float:center;
	justify-content: space-between;
	margin: 15px;
	
}
.section pp {
	font-size: 20px; 
	line-height: 25px; 
	text-align:justify; 
	text-indent: 15px;
    margin-left: 1rem;
   }